@{
    ViewData["Title"] = "Signed Out";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">You have been signed out</h1>
    <p>Thank you for using our application.</p>
    <a asp-controller="Account" asp-action="SignIn" class="btn btn-primary">Sign In Again</a>
</div>